<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>

    <style type="text/css">
    	table, th, td{
    		border: 1px solid black;
    	}
    </style>

    <br>
    <a href="/home">Home</a>
    <br/>
    <br/>

    <form action="/show_posts" method="POST">
    	<input type="text" name = "poster" placeholder="Find a User" required/> </br>
    	<input type="submit" value = "View Posts">
    	{% if error %}
    		<p class="error"><strong>Error:</strong> {{error}}</p>
    	{% endif %}
    </form>

    <br>
    <br>

    Your Posts:
    	<table>
    		<th>Time</th>
    		<th>PhotoID</th>
    		<th>Caption</th>
    		<th>Photo</th>
    		<th>allFollowers</th>
        <th>Likes</th>
        <th>Tagged People </th>
      	<th>Add Tag </th>

    	{% for line in posts %}
    		<tr>
    			<td style="text-align:center">{{line.postingdate}}</td>
    			<td style="text-align:center">{{line.photoID}}</td>
    			<td style="text-align:center">{{line.caption}}</td>
    			<td style="text-align:center"><img src="/image/{{line.filepath}}" width="300"/></td>
    			<td style="text-align:center">{{line.allFollowers}}</td>
          <td style="text-align:center">
            {% for line2 in likeData %}
            {% if line2.photoID == line.photoID %}
              {{line2.firstName}} {{line2.lastName}} ({{line2.username}}) --> {{line2.rating}}
              <br></br>
            {% endif %}
            {% endfor %}
          <td style="text-align:center">
      			{% for line2 in tagData %}
      			{% if line2.photoID == line.photoID %}
      				{{line2.firstName}} {{line2.lastName}} ({{line2.username}})
      				<br></br>
      			{% endif %}
      			{% endfor %}
      		</td>

          <td style="text-align:center">
      			<form action="/tag" method="POST">
      				<input type="text" name = "tagged_user" placeholder="Tag Someone" required/> </br>
      				<input type="hidden" name = "photoID" value="{{line.photoID}}"/>
      				<input type="submit" value = Tag />
      				{% if error %}
      					<p class="error"><strong>Error:</strong> {{error}}</p>
      				{% endif %}
      			</form>
      		</td>
    		</tr>
    	{% endfor %}
    	</table>



    	<br/>
    	<br/>
    	<a href="/logout">Logout</a>

    </body>


    </html>
